spring:
  config:
    activate:
      on-profile: dev


  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:test;MODE=MariaDB;DATABASE_TO_LOWER=true
    username: sa
    password:
    hikari:
      maximum-pool-size: 10
      connection-timeout: 10000
      pool-name: hikari_primary_pool

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true